$primary: #F7F8FC;
$secondary: #DFE0EB;
$dark: #363740;
$success: #A4A6B3;
$info: #9FA2B4;
$light: #DDE2FF;
$danger: #ffffff;
$warning: #252733;

$font-family-sans-serif: 'Mulish', sans-serif;
$headings-margin-bottom: 0;

$h1-font-size: 40px; 
$h2-font-size: 24px;        
$h3-font-size: 19px;        
$h4-font-size: 16px;         
$h5-font-size: 14px;           
$h6-font-size: 12px;    

// Then import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// css precompiler - scss
// variables

// hover-indication color
$highlighted-light-color: #3751FF;

// sub-title color
$sub-title-color: #4B506D;

// button-bg color
$button-bg-color-grey: #F0F1F7;
$button-bg-color-yellow: #FEC400;
$button-bg-color-green: #29CC97;

// letter-spacing 
$letter-spacing-10: 1px;
$letter-spacing-05: 0.5px;
$letter-spacing-04: 0.4px;
$letter-spacing-03: 0.3px;
$letter-spacing-02: 0.2px;
$letter-spacing-01: 0.1px;

main {
    & > section {
        height: 100vh;
        // side navigation - icons + text
        aside{
            ul{
                li{
                    // dashboard kit
                    .dashboard {
                        margin-top:37px;
                        margin-bottom: 43px;
                        section {
                            max-height: 32px;
                            max-width: 32px;
                        }
                        img {
                            max-height: 24px;
                            max-width: 24px;
                        }
                        h3{
                            display:none;
                        }
                    }
                }
            }
            // Tickets / Ideas / Contacts / Agents / Articlce / Setting / Subscription
            .navlist {
                padding: 16px 0;
                li {
                    a{
                        height:56px;
                        h4{
                            display:none;
                        }
                    }
                }
            }
        }
        // overview content - exluding the side navigation
        .article{
            padding:30px;
            section{
                // header - overview + search + notification + profile name + profile
                .overview {
                    max-height: 44px;
                    margin-bottom:30px;
                    // overview
                    header{
                        h2{
                            font-weight:$font-weight-bold;
                            letter-spacing: $letter-spacing-03;
                        }
                    }
                    // search + notification + profile name + profile
                    section{
                        img {
                            max-width: 16px;
                            max-height:16px;
                            margin-left: 14px;
                            &:nth-child(2){
                            display:none;
                            }
                            &:last-child {
                            max-width: 44px;
                            max-height:44px;
                            }
                        }
                        h5{
                            display: none;
                        }
                    }
                }
                // unresolved + overdue + open + on hold
                .numbers {
                    cursor: pointer;
                    margin-bottom:30px;
                    section{
                        section{
                            position:relative;
                            max-width: calc((100% - 15px) / 2);
                            height: 134px;
                            // unresolved + overdue + open + on hold
                            h3{
                                font-size:95%;
                                font-weight: $font-weight-bold;
                                letter-spacing: $letter-spacing-04;
                            }
                            // 60 + 16 + 43 + 64 
                            h1{
                                padding: 12px 0 0;
                                font-weight: $font-weight-bold;
                                letter-spacing: $letter-spacing-10;
                            }
                            // Overdue + 16
                            .color{
                                color: $highlighted-light-color;
                            }
                            // cursor
                            img{
                                position: absolute;
                                bottom:16px;
                                right:16px;
                            }
                        }
                        .border-color{
                            border: 1px solid $highlighted-light-color;
                        }
                        // spacing between top & bottom row
                        .bottom{
                            margin-top: 15px;
                        }
                    }
                }
                // today's trends + as of 25 May 2019, 09:41 pm + graph img + resolved + received + average X2 + resolution within sla
                .chart {
                    margin-bottom: 30px;
                    section {
                        section{
                            // today's trends + as of 25 May 2019, 09:41 pm + graph img
                            section{
                                padding: 16px 16px 0 16px;
                                // today's trends
                                h3{
                                    padding: 16px 16px 0 15px;
                                    font-weight:$font-weight-bold;
                                    letter-spacing: $letter-spacing-03;
                                }
                                // as of 25 May 2019, 09:41 pm
                                h6{
                                    padding: 8px 16px 0;
                                    letter-spacing: $letter-spacing-01;
                                }
                                // graph img
                                img{
                                    max-width: 100%;
                                    &:first-child{
                                        max-width:80%;
                                    }
                                    &:last-child{
                                        padding:4px 0 16px;
                                    }   
                                }
                            }
                            // resolved + received + average X2 + resolution within sla
                            div{
                                padding:16px;
                                // resolved + received + average X2 + resolution within sla
                                h4 {
                                    font-size: 85%;
                                    font-weight: $font-weight-semibold;
                                    letter-spacing: $letter-spacing-03;
                                }
                                // 449 + 426 + 33m + 3h 8m + 94%
                                h2{
                                    font-weight:$font-weight-bold;
                                    letter-spacing: $letter-spacing-03;  
                                    padding-top: 6px;
                                }
                            }
                        }
                    }
                }
                // unsolved ticket + task
                .tickettask{
                    section {
                        .split{
                            padding: 32px 32px 8px 32px;
                            // spacing between top & bottom row
                            &:last-child{
                                margin-top: 30px;
                            }
                            section{
                                height:58px;
                                // unresolved ticket + view details + gropu:support + tasks + view all + today
                                &:first-child{
                                    height: auto;
                                }
                                // list of data + numbers + todo + button
                                &:nth-child(2){
                                    margin-top: 16px;
                                }
                                section{
                                    margin-bottom: 8px;
                                    h3{
                                        font-weight:$font-weight-bold;
                                        letter-spacing: $letter-spacing-04;
                                    }
                                    h5{
                                        color: $highlighted-light-color;
                                        cursor: pointer;
                                    }
                                    h6{
                                        font-weight: $font-weight-semibold;
                                        letter-spacing: $letter-spacing-05;
                                    }
                                }
                                h6{
                                    letter-spacing: $letter-spacing-01;
                                    span {
                                        font-weight: $font-weight-semibold;
                                        color: $sub-title-color;
                                    }
                                }
                                h5{
                                    font-weight: $font-weight-semibold;
                                    letter-spacing: $letter-spacing-02;
                                }
                                .color-grey{
                                    background-color: $button-bg-color-grey;
                                }
                                .color-yellow{
                                    background-color: $button-bg-color-yellow;
                                }
                                .color-green{
                                    background-color: $button-bg-color-green;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// break points sm: 576px,
@media only screen and (min-width: 576px) {

    main {
        & > section {
            // overview content - exluding the side navigation
            .article{
                section{
                    // header - overview + search + notification + profile name + profile
                    .overview {
                        // search + notification + profile name + profile
                        section{
                            img:nth-child(2){
                                display:block;
                            }
                        }
                    }
                    // unresolved + overdue + open + on hold
                    .numbers {
                        section{
                            section{
                                max-width: calc((100% - 50px) / 4);
                                // unresolved + overdue + open + on hold
                                h3{
                                    font-size:97%;
                                }
                            }
                            // spacing between top & bottom row
                            .bottom{
                                margin-top: 0;
                            }
                        }
                    }
                    // unsolved ticket + task
                    .tickettask{
                        section {
                            .split{
                                height: 336px;
                            }
                        }
                    }
                }
            }
        }
    }

}

// breakpoints md: 768px,
@media only screen and (min-width: 768px) {

    main {
        & > section {
            height: 100vh;
            // side navigation - icons + text
            aside{
                ul{
                    li{
                        // dashboard kit
                        .dashboard {
                            padding-left: 32px;
                            section {
                                margin-right: 12px;
                            }
                            img {
                                max-height: 32px;
                                max-width: 32px;
                            }
                            h3{
                                display:block;
                                font-weight:$font-weight-bold;
                                letter-spacing: $letter-spacing-04;
                            }
                        }
                    }
                }
                // Tickets / Ideas / Contacts / Agents / Articlce / Setting / Subscription
                .navlist {
                    li {
                        section{
                            position:absolute;
                            width: 3px;
                            height: 56px;
                        }
                        a{
                            margin:0 32px;
                            h4{
                                display:block;
                                padding-left:24px;
                                letter-spacing: $letter-spacing-02;
                            }
                        }
                    }
                }
            }
            // overview content - exluding the side navigation
            .article{
                section{
                    // header - overview + search + notification + profile name + profile
                    .overview {
                        // search + notification + profile name + profile
                        section{
                            img {
                                margin-left:24px;
                                &:last-child {
                                    margin-left: 14px;
                                }
                            }
                            h5{
                                display: block;
                                padding: 7px 0 7px 32px;
                                margin-left:32px;
                                font-weight: $font-weight-semibold;
                                letter-spacing: $letter-spacing-02;
                                border-left: 1px solid $secondary;
                                line-height:20px;
                            }
                        }
                    }
                    // unresolved + overdue + open + on hold
                    .numbers {
                        section{
                            section{
                                max-width: calc((100% - 90px) / 4);
                                 // unresolved + overdue + open + on hold
                                h3{
                                    font-size:80%;
                                }
                            }
                        }
                    }
                    // today's trends + as of 25 May 2019, 09:41 pm + graph img + resolved + received + average X2 + resolution within sla
                    .chart {
                        section {
                            section{
                                section{
                                    padding:0;
                                    // today's trends
                                    h3{
                                        padding: 32px 0 0 32px;
                                    }
                                    // as of 25 May 2019, 09:41 pm
                                    h6{
                                        padding: 8px 0 0 32px; 
                                    }
                                    // graph img
                                    img{
                                        max-width: 100%;
                                        padding:0 32px 0 0;
                                    }
                                        &:last-child{
                                        padding:0 32px 32px 32px;
                                        }                            
                                }
                                // resolved + received + average X2 + resolution within sla
                                div{
                                    padding: 16px;
                                    // resolved + received + average X2 + resolution within sla
                                    h4 {
                                        font-size: 85%;
                                    }
                                } 
                            }
                        }
                    }
                }
            }
        }
    }

}

// breakpoints lg:992px
@media only screen and (min-width: 992px) {

    main {
        & > section {
            // overview content - exluding the side navigation
            .article{
                section{
                    // unresolved + overdue + open + on hold
                    .numbers {
                        section{
                            section{
                                // unresolved + overdue + open + on hold
                                h3{
                                    font-size:100%;
                                }
                                img{
                                    position: absolute;
                                    bottom:16px;
                                    right:32px;
                                }
                            }
                        }
                    }
                    // today's trends + as of 25 May 2019, 09:41 pm + graph img + resolved + received + average X2 + resolution within sla
                    .chart {
                        height: 546px;
                        section {
                            section{
                                // resolved + received + average X2 + resolution within sla
                                div{
                                    height: 20%;
                                    // resolved + received + average X2 + resolution within sla
                                    h4 {
                                        font-size: 100%;
                                    }
                                }                  
                            }
                            // line divider between the graph and data
                            .frame{
                                border-left: 1px solid $secondary;
                            }
                        }
                    }
                    // unsolved ticket + task
                    .tickettask{
                        section {
                            .split{
                                max-width: calc((100% - 30px) / 2);
                                // spacing between top & bottom row
                                &:last-child{
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}






