$primary: #F7F8FC;
$secondary: #DFE0EB;
$dark: #363740;
$success: #A4A6B3;
$info: #9FA2B4;
$light: #DDE2FF;
$danger: #ffffff;
$warning: #252733;

$font-family-sans-serif: 'Mulish', sans-serif;
$headings-margin-bottom: 0;

$h1-font-size: 40px; 
$h2-font-size: 24px;        
$h3-font-size: 19px;        
$h4-font-size: 16px;         
$h5-font-size: 14px;           
$h6-font-size: 12px;    


// $display-font-sizes: map-merge($custom-font, $display-font-sizes);


// Then import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";


main {
    > section {
        height: 100vh;
        aside{
            ul{
                li{
                    .dashboard {
                        margin-top:37px;
                        margin-bottom: 43px;
                        // padding-left: 32px;
                        section {
                            max-height: 32px;
                            max-width: 32px;
                            // margin-right: 12px;
                        }
                        img {
                            max-height: 24px;
                            max-width: 24px;
                        }
                        h3{
                            // font-weight:$font-weight-bold;
                            // letter-spacing:0.4;
                            display:none;
                        }
                    }
                }
            }
            .navlist {
                padding: 16px 0;
                li {
                    // section{
                        // position:absolute;
                        // width: 3px;
                        // height: 56px;
                     //}
                    a{
                        height:56px;
                        // margin:0 32px;
                        h4{
                            display:none;
                        }
                    }
                }
            }
        }
        .article{
            padding:30px;
            section{
                .overview {
                    max-height: 44px;
                    margin-bottom:30px;
                    header{
                        // width:100%;
                        h2{
                            font-weight:$font-weight-bold;
                            letter-spacing: 0.3px;
                        }
                    }
                    section{
                        img {
                            max-width: 16px;
                            max-height:16px;
                            // margin-left:24px;
                            margin-left: 14px;
                        }
                        img:nth-child(2){
                            display:none;
                        }
                        h5{
                            // padding: 7px 0 7px 32px;
                            // margin-left:32px;
                            // font-weight: $font-weight-semibold;
                            // letter-spacing: 0.2px;
                            // border-left: 1px solid $secondary;
                            // line-height:20px;
                            display: none;
                        }

                        img:last-child {
                            max-width: 44px;
                            max-height:44px;
                            // margin-left: 14px;
                        }
                    }
                }

                .numbers {
                    margin-bottom:30px;
                    section{
                        section{
                            position:relative;
                            max-width: calc((100% - 15px) / 2);
                            height: 134px;
                            h3{
                                font-size:95%;
                                font-weight: $font-weight-bold;
                                letter-spacing: 0.4px;
                                // padding-top:24px;
                            }
                            h1{
                                padding: 12px 0 0;
                                font-weight: $font-weight-bold;
                                letter-spacing: 1px;
                            }
                            .color{
                                color: #3751FF;
                            }
                            img{
                                position: absolute;
                                bottom:16px;
                                right:16px;
                            }
                        }
                        .border-color{
                            border: 1px solid #3751FF;
                        }

                        .bottom{
                            margin-top: 15px;
                        }
                    }
                }
                .chart {
                    // height: 546px;
                    margin-bottom: 30px;
                    section {
                        section{
                            section{
                                padding: 16px 16px 0 16px;
                                h3{
                                    padding: 16px 16px 0 15px;
                                    font-weight:$font-weight-bold;
                                    letter-spacing: 0.3px;
                                    // padding: 35px 0 0 35px;
                                    + h6{
                                        // padding-left: 35px;
                                        padding: 8px 16px 0;
                                        letter-spacing: 0.1px;
                                    }
                                }
                                img{
                                    max-width: 100%;
                                    // padding:0 62px 0 32px;
                                }
                                img:first-child{
                                    max-width:80%;
                                }
                                img:last-child{
                                    // padding-bottom: 32px;
                                    padding:4px 0 16px;
                                }                            
                            }
                            div{
                                padding:16px;
                                // height: 30%;
                                h4 {
                                    font-size: 85%;
                                    font-weight: $font-weight-semibold;
                                    letter-spacing: 0.3px;
                                }
                                h2{
                                    // font-size: 90;
                                    font-weight:$font-weight-bold;
                                    letter-spacing: 0.3px;  
                                    padding-top: 6px;
                                }
                            }
                           
                        }
                        + section{
                            border-left: 1px solid $secondary;

                        }
                    }
                }
                .tickettask{
                    section {
                        .split{
                            // height: 336px;
                            // max-width: calc((100% - 30px) / 2);
                            padding: 32px 32px 8px 32px;
                            section{
                                height:58px;
                                section{
                                    margin-bottom: 8px;
                                    h3{
                                        font-weight:$font-weight-bold;
                                        letter-spacing: 0.4px;
                                    }
                                    h5{
                                        // font-weight: $font-weight-semibold;
                                        // letter-spacing: 0.2px;
                                        color: #3751FF;
                                    }
                                }
                                h6{
                                    letter-spacing: 0.1px;
                                    span {
                                        font-weight: $font-weight-semibold;
                                        color: #4B506D;
                                    }
                                }
                                h5{
                                    font-weight: $font-weight-semibold;
                                    letter-spacing: 0.2px;
                                }
                            }
                            section:first-child{
                                height: auto;
                            }
                            section:nth-child(2){
                                margin-top: 16px;
                            }
                        }
                        .split:last-child{
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) {

    main {
        > section {
            .article{
                section{
                    .overview {
                        section{
                            img:nth-child(2){
                                display:block;
                            }
                        }
                    }
                    .numbers {
                        section{
                            section{
                                max-width: calc((100% - 50px) / 4);
                                h3{
                                    font-size:97%;
                                }
                            }
                            .bottom{
                                margin-top: 0;
                            }
                        }
                    }
                     // .chart {
                    //     height: 546px;
                    //     margin-bottom: 30px;
                    //     section {
                    //         section{
                    //             section{
                    //                 h3{
                    //                     padding: 35px 0 0 35px;
                    //                     + p{
                    //                         padding-left: 35px;
                    //                     }
                    //                 }
                    //                 img{
                    //                     max-width: 100%;
                    //                     padding:0 62px 0 32px;
                    //                 }
                    //                 img:last-child{
                    //                     padding-bottom: 32px;
                    //                 }                            
                    //             }
                    //             div{
                    //                 height: 20%;
                    //                 h4 {
                    //                     font-weight: $font-weight-semibold;
                    //                     letter-spacing: 0.3px;
                    //                 }
                    //                 h2{
                    //                     font-weight:$font-weight-bold;
                    //                     letter-spacing: 0.3px;  
                    //                     padding-top: 6px;
                    //                 }
                    //             }
                               
                    //         }
                    //         + section{
                    //             border-left: 1px solid $secondary;

                    //         }
                    //     }
                    // }
                    .tickettask{
                        section {
                            .split{
                                height: 336px;
                                // max-width: calc((100% - 30px) / 2);
                            //     padding: 32px 32px 8px 32px;
                            //     section{
                            //         height:58px;
                            //         section{
                            //             margin-bottom: 8px;
                            //             h3{
                            //                 font-weight:$font-weight-bold;
                            //                 letter-spacing: 0.4px;
                            //             }
                            //             h5{
                            //                 // font-weight: $font-weight-semibold;
                            //                 // letter-spacing: 0.2px;
                            //                 color: #3751FF;
                            //             }
                            //         }
                            //         h6{
                            //             letter-spacing: 0.1px;
                            //             span {
                            //                 font-weight: $font-weight-semibold;
                            //                 color: #4B506D;
                            //             }
                            //         }
                            //         h5{
                            //             font-weight: $font-weight-semibold;
                            //             letter-spacing: 0.2px;
                            //         }
                            //     }
                            //     section:first-child{
                            //         height: auto;
                            //     }
                            //     section:nth-child(2){
                            //         margin-top: 16px;
                            //     }
                            // }
                            // .split:last-child{
                            //     margin-top: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}




@media only screen and (min-width: 768px) {
    main {
        > section {
            height: 100vh;
            aside{
                ul{
                    li{
                        .dashboard {
                            // margin-top:37px;
                            // margin-bottom: 43px;
                            padding-left: 32px;
                            section {
                                // height: 32px;
                                // width: 32px;
                                margin-right: 12px;
                            }
                            img {
                                max-height: 32px;
                                max-width: 32px;
                            }
                            h3{
                                display:block;
                                font-weight:$font-weight-bold;
                                letter-spacing: 0.4px;
                            }
                        }
                    }
                }
                .navlist {
                    // padding: 16px 0;
                    li {
                        section{
                            position:absolute;
                            width: 3px;
                            height: 56px;
                        }
                        a{
                            // height:56px;
                            margin:0 32px;
                            h4{
                                display:block;
                                padding-left:24px;
                                letter-spacing: 0.2px;
                            }
                        }
                    }
                }
            }
            .article{
                // padding:30px;
                section{
                    .overview {
                        header{
                            // width:100%;
                            h2{
                                // font-weight:$font-weight-bold;
                                // letter-spacing: 0.3px;
                            }
                        }
                        section{
                            img {
                                // max-width: 16px;
                                // max-height:16px;
                                margin-left:24px;
                            }
                            h5{
                                display: block;
                                padding: 7px 0 7px 32px;
                                margin-left:32px;
                                font-weight: $font-weight-semibold;
                                letter-spacing: 0.2px;
                                border-left: 1px solid $secondary;
                                line-height:20px;
                            }
                            img:last-child {
                                // max-width: 44px;
                                // max-height:44px;
                                margin-left: 14px;
                            }
                        }
                    }
                    .numbers {
                        // margin-bottom:30px;
                        section{
                            section{
                                max-width: calc((100% - 90px) / 4);
                                h3{
                                    font-size:80%;
                                }
                                // img{
                                //     position: absolute;
                                //     bottom:16px;
                                //     right:32px;
                                // }
                            }
                        }
                    }
                    .chart {
                        // height: 546px;
                        // margin-bottom: 30px;
                        section {
                            section{
                                section{
                                    padding:0;
                                    h3{
                                        padding: 32px 0 0 32px;
                                        + h6{
                                            padding: 8px 0 0 32px; 
                                        }
                                    }
                                    img{
                                        max-width: 100%;
                                        padding:0 32px 0 32px;
                                    }
                                    img:last-child{
                                        // padding:4px 0 32px;
                                        padding:0 32px 32px 32px;
                                    }                            
                                }
                                div{
                                    padding: 16px;
                                    // height: 20%;
                                    h4 {
                                        font-size: 85%;
                                        // font-weight: $font-weight-semibold;
                                        // letter-spacing: 0.3px;
                                    }
                                    h2{
                                        // font-size: 90%;
                                        // font-weight:$font-weight-bold;
                                        // letter-spacing: 0.3px;  
                                        // padding-top: 6px;
                                    }
                                }
                               
                            }
                            // + section{
                            //     border-left: 1px solid $secondary;

                            // }
                        }
                    }
                    // .tickettask{
                    //     section {
                    //         .split{
                    //             height: 336px;
                    //             // max-width: calc((100% - 30px) / 2);
                    //             padding: 32px 32px 8px 32px;
                    //             section{
                    //                 height:58px;
                    //                 section{
                    //                     margin-bottom: 8px;
                    //                     h3{
                    //                         font-weight:$font-weight-bold;
                    //                         letter-spacing: 0.4px;
                    //                     }
                    //                     h5{
                    //                         // font-weight: $font-weight-semibold;
                    //                         // letter-spacing: 0.2px;
                    //                         color: #3751FF;
                    //                     }
                    //                 }
                    //                 h6{
                    //                     letter-spacing: 0.1px;
                    //                     span {
                    //                         font-weight: $font-weight-semibold;
                    //                         color: #4B506D;
                    //                     }
                    //                 }
                    //                 h5{
                    //                     font-weight: $font-weight-semibold;
                    //                     letter-spacing: 0.2px;
                    //                 }
                    //             }
                    //             section:first-child{
                    //                 height: auto;
                    //             }
                    //             section:nth-child(2){
                    //                 margin-top: 16px;
                    //             }
                    //         }
                    //         .split:last-child{
                    //             margin-top: 30px;
                    //         }
                    //     }
                    // }
                }
            }
        }
    }

}

@media only screen and (min-width: 992px) {

    main {
        > section {
            .article{
                section{
                    .numbers {
                        section{
                            section{
                                h3{
                                    font-size:100%;
                                }
                                img{
                                    position: absolute;
                                    bottom:16px;
                                    right:32px;
                                }
                            }
                        }
                    }
                    .chart {
                        height: 546px;
                        // margin-bottom: 30px;
                        section {
                            section{
                                section{
                                    img{
                                        max-width: 100%;
                                        padding:0 32px 0 32px;
                                    }
                                    img:last-child{
                                        // padding:4px 0 32px;
                                        padding:0 32px 32px 32px;
                                    } 
                                                       
                                }     
                                div{
                                    height: 20%;
                                    h4 {
                                        font-size: 100%;
                                        // font-weight: $font-weight-semibold;
                                        // letter-spacing: 0.3px;
                                    }
                                }                  
                            }
                        }
                    }
                    .tickettask{
                        section {
                            .split{
                                max-width: calc((100% - 30px) / 2);
                                // padding: 32px 32px 8px 32px;
                                // section{
                                //     height:58px;
                                //     section{
                                //         margin-bottom: 8px;
                                //         h3{
                                //             font-weight:$font-weight-bold;
                                //             letter-spacing: 0.4px;
                                //         }
                                //         h5{
                                //             // font-weight: $font-weight-semibold;
                                //             // letter-spacing: 0.2px;
                                //             color: #3751FF;
                                //         }
                                //     }
                                //     h6{
                                //         letter-spacing: 0.1px;
                                //         span {
                                //             font-weight: $font-weight-semibold;
                                //             color: #4B506D;
                                //         }
                                //     }
                                //     h5{
                                //         font-weight: $font-weight-semibold;
                                //         letter-spacing: 0.2px;
                                //     }
                                // }
                                // section:first-child{
                                //     height: auto;
                                // }
                                // section:nth-child(2){
                                //     margin-top: 16px;
                                // }
                            }
                            .split:last-child{
                                margin-top: 0;
                            }
                        }
                    }
                }
                
            }
        }
    }
}






